<div>
    <!-- <form action="/VERANDER DIT!!!!!!!" method="post">
        <div>
            <label for="voornaam">voornaam:</label><br>
            <input type="text" id="voornaam" name="voornaam" value="amine" /><br>
            <label for="naam">naam:</label><br>
            <input type="text" id="naam" name="naam" value="abdelfettah" /><br>
            <label for="leeftijd">leeftijd:</label><br>
            <input type="number" id="leeftijd" name="leeftijd" value="22" /><br>

        </div>
        <br>
        <button type="submit">verzenden</button>
    </form> -->
</div>
<br>
<div>



</div>