<ul>
    <% for(var i =0; i<student.length; i++ ){%>
        <li>
            <%= JSON.stringify(student[i].body.naam) %>
        </li>
        <li>
            <%= JSON.stringify(student[i].body.examen) %>
        </li>
        <li>
            <%= JSON.stringify(student[i].body.reden) %>
        </li>
        <li>
            <%= JSON.stringify(namen[i].body.datinex) %>
        </li>
        <br>
        <%}%>
</ul>